/build

/Testing
/tmp
docs/build
cpu-features/detect
/pkg

# Python
__pycache__

# Rust bindings
/rust/evercrypt-rs/target
/rust/evercrypt-sys/target
rust/.c

# OCaml bindings
/opam

# macOS
.DS_Store

# Visual Studio Code
.vscode

# CLion
.idea
cmake-build-debug

