/build
/Testing
/tmp
/tools/__pycache__
/rust/evercrypt-rs/target
/rust/evercrypt-sys/target
docs/source/__pycache__
docs/build
cpu-features/detect
/pkg
__pycache__/
.DS_Store
.vscode
rust/.c
/opam

cmake-build-debug

# CLion
.idea
