/build
/Testing
/config/build
/config/cached-config.txt
/tmp
/tools/__pycache__
/config/config.cmake
/config/dep_config.json
config/.dependency_check
/rust/evercrypt-rs/target
/rust/evercrypt-sys/target
docs/source/__pycache__
docs/build
cpu-features/detect
/pkg
__pycache__/
config/.cache
